<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css">
    <title>Main Menu</title>
</head>
<body>
    <h1>
        <p>Электронный университет</p>
    </h1>
    <main class="main_menu">

        <div class="menu_navigation">
            <div class="navigation_text">
                <p class="menu_title">Главное меню</p>
                <a href="{{url_for('auth')}}" style="font-size: 24px">Авторизоваться</a>
            </div>

        </div>
        <img src="../static/img/proj1.jpg">
    </main>
</body>
</html>